/* :root {
	--main-font: Helvetica, Arial, sans-serif;
	--btn-inet-wdt: 100px;
} */

.inlineBlockIt {
	display: inline-block;
}

.flexContainerIt {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.small {  /* изначально для - span */
	font-size: 0.7em;
}

.cell { /* значок телефонной трубки в тексте */
	background-image: url(../img/oldCell.png);
	display: inline-block;
	width: 22.5px;
	height: 22.5px;
	background-size: contain;
    background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-bottom: 0.25em;
}

.arr { /* Стрелка вверх в заголовках h2 */
	background-image: url(../img/ArrowTop32.png);
	display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-bottom: 0.25em;
}

#svgPic2 {
	float: left;
    /* border: 1px solid pink; */
    /* display: inline-block; */
    background-image: url(../data/flangeBg.svg);
}
#svgPic3 {
	/* float: left; */
    /* border: 1px solid pink; */
    /* display: inline-block; */
    background-image: url(../data/ConsoleUnderForce.svg);
}


