/* :root {
	--main-font: Helvetica, Arial, sans-serif;
	--btn-inet-wdt: 100px;
} */

.inlineBlockIt {
	display: inline-block;
}

.flexContainerIt {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.small {  /* изначально для - span */
	font-size: 0.7em;
}


