/* :root {
	--main-font: Helvetica, Arial, sans-serif;
	--btn-inet-wdt: 100px;
} */

.inlineBlockIt {
	display: inline-block;
}

.flexContainerIt {
	display: flex;
	flex-direction: row;
	align-items: top;
	/* align-items: center; */
	justify-content: space-between;
}

.small {  /* изначально для - span */
	font-size: 0.7em;
}

.cell { /* значок телефонной трубки в тексте */
	background-image: url(../img/oldCell.png);
	display: inline-block;
	width: 22.5px;
	height: 22.5px;
	background-size: contain;
    background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-bottom: 0.25em;
}

.arr { /* Стрелка вверх в заголовках h2 */
	background-image: url(../img/ArrowTop32.png);
	display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-bottom: 0.25em;
}

#svgPic2 {
	float: left;
    /* border: 1px solid pink; */
    /* display: inline-block; */
    background-image: url(../data/flangeBg.svg);
}
#svgPic3 {
	/* float: left; */
    /* border: 1px solid pink; */
    /* display: inline-block; */
    background-image: url(../data/ConsoleUnderForce.svg);
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-weight: 700;
    line-height: 1.4;
    padding: 2px 4px;
	white-space: nowrap;
	text-indent: 0px;
}

abbr {
	color: blue;
    background-color: yellow;
	text-decoration-line: none;
}
