	/*  D I V  */
/* DEFAULT DIV = WITHOUT ANY PROPERTIES */

.divOutPut {    /* OUTPUT BOX результата расчета */
	display: inline-block;
	margin: 5px 0px;
	padding: 5px;
	width: 250px;
	vertical-align: middle;
	font-size: 1.5em;
	color: blue;
	background-color: #eeee0060;
	border: 3px solid #33cc00;
}
.divOutPut + div {    /* LABEL для OUTPUT BOX */
	display: inline-block;    /* table-cell == margins отключены */
	margin: 5px 5px 5px 1px;  /* top right bottom left */
	padding: 5px 5px 5px 1px;
	height: 1.6em;
	vertical-align: middle;
	font-size: 1.1em;
	padding-left: 7px;
}
.divOutPutMini {    /* OUTPUT BOX результатов расчетов ВСПОМОГАТЕЛЬНЫЙ */
	display: inline-block;
	/* margin: 5px 0px; */
	padding: 5px;
	/* height: 1.6em; */
	width: 180px;
	/* vertical-align: middle; */
	font-size: 1.2em;
	color: blue;
	background-color: #a5a511;
	border: 2px solid #84e6bd;
}
/* #output_bend_M::before {
	content: ";  M=";
} */
.divOutPutMLine {    /* многострочное half size ОКНО ВЫВОДА результатов расчетов в сопромате */
	font-size: 0.875em;       /* Размер шрифта */
	display: inline-block;    /* inline-block == height and width EXIST but it inline */
	margin: 5px 0px;
	padding: 2px;
	height: 7.0em;
	width: 49.7%;
	vertical-align: middle;
	color: black;
	background-color: #9bcc7580;
	border: 2px solid #849be6;
}
.divOutPutMLine1 {    /* многострочное full size ОКНО ВЫВОДА результатов расчетов в сопромате */
	margin: 3px 0px 5px 0px;
	padding: 1px 2px;
	height: 75px;
	vertical-align: text-top;
	font-family: Consolas, monospace;
	font-size: 1.0em;         /* Размер шрифта */
	color: black;
	background-color: #a3c489;
	border: 2px solid #849be6;	
}
.mainPanelWrap {           /* Обертка главной панели */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.mainPanelWrap div {    /* В качестве button для кнопок главной панели (без текста) */
	display: table-cell;
	width: 143px;
	height: 148px;
	vertical-align: middle;
}
.tblOfContent {     /* ОГЛАВЛЕНИЕ */
    font-size: 1.3em;
    margin: 0px 5px 5px 5px;
	padding: 0px 5px 5px 5px;
}
div.zero {	/* для iframes */
	margin: 5px 0px;
	padding: 5px 0px;
	border-top: 3px solid #33ccff;
	border-bottom: 3px solid #33ccff;
}
div.alertString {
	width: 100%;
	margin: 5px 1px 5px 0px;  /* top right bottom left */
	padding: 5px;             /* top right bottom left */
	color: #065e20;         /* Цвет текста */
	border: 1px solid #800000;
}
.columnLeft {
	height: 600px;
	width: 360px;
	float: left;
}
	/*  end  D I V  */