html { background-image: url("../images/background_31.png"); }

*{ box-sizing: border-box; } /* Setting height or width will control the size of the entire element, including its padding and border */

	/* !!!!!!!!!  CONTEXT'S WIDTH in BODY = 900-2*border-2*padding = 880px  !!!!!!!!! */
body {	/* RGB */ /* R+G = Yellow */ /* R+B = Magenta */ /* G+B = Cyan */
	width: 900px;
	font-family: "Arial";
	color: #b22222;     	    /* Цвет текста */
	background-color: #ffffff;
	margin: 30px auto 150px auto; /* top right bottom left */
	border: 5px solid #aa2222;	/* !!!!!!!!!  CONTEXT'S WIDTH in BODY == 880px  !!!!!!!!! */
	padding: 0px 5px 2px 5px;     /* top right bottom left */
	box-shadow: 15px -12px 5px rgba(0,0,0,0.2);
}
body.color { /* Сделать фон страницы цветным вместо стандартного белого */
background-color: #d2b48c;;	
}

h1 {
	width: 82%;	
	color: #0000ff;    		  /* Цвет текста */
	font-size: 3.2em;    		/* Размер шрифта */
	font-family: Times, serif; 	/* Семейство шрифтов */
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 16px 0px 5px 40px; /* top right bottom left */
}
h2 {
    color: darkviolet;
	padding: 30px 1px 8px 30px;
    border-bottom: 2px solid rgb(9, 155, 147);
}
/* h2::after {
	content: url("../images/tick_16.png");
} */
h2 img, th img, legend img {
	margin-bottom: -0.25em;
}
h3 {
    color: rgb(1, 80, 1);
    padding: 10px 0px 0px 15px;
}
h4 {
    color: darkred;
}

p {
	text-indent: 1.5em;		 /* Отступ первой строки */
}

footer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
footer div {
	font-size: 0.8em;
	padding: 3px 2px 0px 2px;
}
footer img {
	width: 245px;
	height: 185px;
}

span.small {
	font-size: 0.7em;         /* Размер шрифта */
}

		/* DIV IS WITHOUT ANY PROPERTIES */

div.adv {	
	color: #aa05bb;         /* Цвет текста           */
	margin: 5px 5px 5px 5px;  /* top right bottom left */
	padding: 5px 5px 5px 5px; /* top right bottom left */
	vertical-align: middle;
}
div.smallPaddings {
	padding: 0px 4px 0px 4px; /* top right bottom left */
}
.divOutPut {    /* СТРОКА ВЫВОДА результата расчета */
	display: inline-block;
	margin: 5px 1px 5px 0px;  /* top right bottom left */
	padding: 5px;             /* top right bottom left */
	height: 1.6em;
	width: 250px;
	vertical-align: middle;
	font-size: 1.5em;         /* Размер шрифта */
	color: blue;
	background-color: #a5a511;
	border: 2px solid #84e6bd;	
}
.divOutPut + div {    /* LABEL для окон вывода */
	display: inline-block;    /* table-cell == margins отключены */
	margin: 5px 5px 5px 1px;  /* top right bottom left */
	padding: 5px 5px 5px 1px; /* top right bottom left */
	height: 1.6em;
	vertical-align: middle;
	font-size: 1.1em;         /* Размер шрифта */
	padding-left: 7px;
}
.divOutPutMini {    /* СТРОКА ВЫВОДА результатов расчетов ВСПОМОГАТЕЛЬНАЯ */
	display: inline-block;
	width: 180px;
	height: 34px;
	margin: 0px 0px 0px 10px;
	vertical-align: middle;
	font-size: 1.2em;         /* Размер шрифта */
	color: blue;
	background-color: #a5a511;
	border: 1px solid #84e6bd;	
}
.divOutPutMLine {    /* многострочное half size ОКНО ВЫВОДА результатов расчетов в сопромате */
	display: inline-block;    /* inline-block == height and width EXIST but it inline */
	margin: 5px 1px 5px 0px;  /* top right bottom left */
	height: 88px;
	width: 412px;
	vertical-align: middle;
	font-size: 0.875em;       /* Размер шрифта */
	color: black;
	background-color: #9bcc7580;
	border: 2px solid #849be6;
}
.divOutPutMLine1 {    /* многострочное full size ОКНО ВЫВОДА результатов расчетов в сопромате */
	display: table-cell;      /* table-cell == margins отключены */
	height: 75px;
	width: 880px;
	vertical-align: text-top;
	font-family: Consolas, monospace;
	font-size: 1.0em;         /* Размер шрифта */
	color: black;
	background-color: #a3c489;
	border: 2px solid #849be6;	
}
.mainPanelWrap {           /* Обертка главной панели */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.mainPanelWrap div {    /* В качестве button для кнопок главной панели (без текста) */
	display: table-cell;
	width: 143px;
	height: 148px;
	vertical-align: middle;
}
.tblOfContent {     /* ОГЛАВЛЕНИЕ */
    font-size: 1.3em;         /* Размер шрифта */
    margin: 0px 5px 5px 5px;  /* top right bottom left */
	padding: 0px 5px 5px 5px; /* top right bottom left */
}
div.zero {	/*  */
	margin: 5px 0px 5px 0px;  /* top right bottom left */
	padding: 5px 0px 5px 0px; /* top right bottom left */
}
div.alertString {
	margin: 5px 1px 5px 0px;  /* top right bottom left */
	padding: 5px;             /* top right bottom left */
	color: #065e20;         /* Цвет текста */
	border: 1px solid #800000;
}
.columnLeft {
	height: 600px;
	width: 360px;
	float: left;
}

pre {						/* Показать текст как есть */
	color: #223cb2;   	  /* Цвет текста */
	font-size: 1.3em; 		/* Размер шрифта */
}

/* INPUT */
input {		/* input native = display: inline-block */
	margin: 5px 1px 5px 0px; /* top right bottom left */
	padding: 5px;      /* top right bottom left */
	font-size: 1.2em;  /* Размер шрифта */
}
input[type="text"],input[type="number"] {
	color: #b22222;  /* Цвет текста */
	width: 250px;
	vertical-align: middle;
	background-color: #eee;
	border: 3px solid #bb0000;	/* Параметры border */
	transition: background-color 1s;
}
input[type="number"]:focus { background-color: moccasin; border: 3px solid turquoise; transition: background-color 1s; }
input[type="text"]:focus { background-color: moccasin; border: 3px solid turquoise; transition: background-color 1s; }
input[type="text"].grad {
	width: 100px;	
}
input[type="text"].minsec { /* Для инпута в Angle = minsec */	
	width: 100px;
}
input[type="button"] {
	color: #bb00bb;    /* Цвет ввода */
    text-align: center;
    width: 250px;
}
input[type="button"]:hover {
	background-color: bisque;
}
input[type="button"]:focus {
	background-color: palegreen;
    background-image: url("../images/tick_16.png");
    background-repeat: no-repeat;
    background-position: 95% center;
}

label {	/* default display: inline */
	font-size: 1.1em; 		 /* Размер шрифта         */
	margin: 5px 5px 5px 1px; /* top right bottom left */
	padding: 4px;            /* top right bottom left */
}
label.fat {
	font-size: 1.3em;
	font-weight: bold;
	padding: 0px;
	vertical-align: middle;
}

fieldset {
    background-color: #d2b48c;/* #d2b48c don't touch !!! */
    margin: 10px 0px 5px 0px; 	/* top right bottom left   */
}
fieldset.input {
    background-color: #d4e09e;	/* #f7f1c1 */
}
fieldset.output {
    background-color: #a0da55;	/* #f7f1c1  #effdaf */
}
.output > div {
	display: inline-block;
	/* border: #a5a511 1px solid; */
	width: 69%;
}
.output > div + div {
	display: inline-block;
	/* border: #a5a511 1px solid; */
	width: auto;
	vertical-align: top;
}
legend {
    color: #d2b48c;
    background-color: #322cbe;
	font-size: 1.2em;  /* Размер шрифта */
	padding: 3px 7px 3px 7px;
}
legend.button {
	cursor: pointer; 
}
select {
	margin: 5px 1px 5px 0px; /* top right bottom left */
	padding: 5px 5px 5px 5px;
    font-size: 1.2em; /* Размер шрифта */
    color: #aa05bb; /* Цвет ввода    */
	background-color: azure;
	/* vertical-align: middle; */
}
select.in_input {
	background-color: #d4e09e;
}
select.in_output {
	background-color: #a0da55;
}
select.big {
	width: 250px;
	padding: 8px 3px 8px 3px;	
}
select.big1 {
	width: 250px;
	margin-top: 300px;
	margin-bottom: 4px;
	margin-left: 10px;
	padding: 8px 3px 8px 3px;	
}
select.big2 {
	width: 250px;
	margin-top: 20px;
	margin-bottom: 4px;
	margin-left: 10px;
	padding: 8px 3px 8px 3px;	
}


#topnav {    /*  ( # )  => по идентификатору */
	font-size: 1.4em; /* Размер шрифта */
	text-align: center;
	background-color: #117711;
	color: #FFFFFF;	/* Цвет текста - в этом случае: вертикальных палочек */
	height: 35px;
    margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 3px; /* От бордера до текста */
}
#topnav a { color: #FFFFFF; }
#topnav a:hover { color: rgb(255, 187, 0); }

img {
margin: 0px 0px 0px 0px;
}
img.fs {
	/* cursor: url("../images/search_48.png"), pointer; */
	cursor: zoom-in;
}
.fs:-ms-fullscreen { width: 100%; cursor: not-allowed; }
.fs:-webkit-full-screen { width: 100%; cursor: not-allowed; }
.fs:-moz-full-screen { width: 100%; cursor: not-allowed; }

.imgBtn128, img.imgBtn128A {	/* For not-transparency and transparency buttons */
	width: 128px;
	height: 128px;
	transition: 0.1s;
}
.imgBtn128:hover {
	/* width: 132px;
	height: 132px;
	box-shadow: 6px -4px 3px rgba(0,0,0,0.3); */
	background-color: lightgreen;
}
.imgBtn128A:hover {	/*For transparency buttons*/
	width: 132px;
	height: 132px;
}

.imgBtn64 {    /* Для значков в правом верхнем углу, например -  Help */
	float: right;
	width: 64px;
	margin-top: 10px;	
	margin-right: 5px;
	padding: 0px;
	transition: 0.3s;
}
.imgBtn64:hover {    /* Help Rizing */
	width: 74px;
}
.imgBtn64A {	/* For circle badge with h1 header */
	width: 64px;
	height: 64px;
	vertical-align: -10px;
	margin-right: 12px;
	padding: 0px;
    border-radius: 32px;
}
.imgBtn64B {	/* For (border-radius:10px) badge with h1 header */
	width: 64px;
	height: 64px;
	vertical-align: -10px;
	margin-right: 12px;
	padding: 0px;
    border-radius: 10px;
}
.picInTxt {
    display: block;
	margin: 5px auto 5px 5px;
}
.btnNext {
	cursor: pointer;
}
caption {
	padding: 3px 0px 3px 8px;
	font-size: 1.3em;
	text-align: left;
	color: yellow;
	background-color: blue;
}
	/*   T A B L E S   */
table {
    table-layout: auto;
	border-collapse: collapse;
	border: 2px solid green;
	caption-side: top;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
th {
	font-size: 1.2em;
    background-color: rgba(79, 217, 154, 0.24);
	padding: 10px 6px 10px 6px;	
	border: 2px solid green;
}
td {
	font-size: 1.1em;
	padding: 8px 6px 8px 6px;
	border: 1px solid green;
}
	/* table class  firstColumnLeft */
.firstColumnLeft td { /* все td по центру кроме левого столбца */
	text-align: center;
}
.firstColumnLeft td:first-of-type {
	text-align: left;
}
	/* table class  firstColumnCenter */
.firstColumnCenter td:first-of-type {
	text-align: center;
}
	/* table class  lastColumnCenter */
.lastColumnCenter td:last-of-type {
	text-align: center;
}
	/* table class  mini */
.mini th {	
	font-size: 1.1em;
	padding: 8px 4px 8px 4px;
}
.mini td {
	font-size: 1.0em;
	padding: 6px 4px 6px 4px;
	/* text-align: center; */
}

td.pipe { /* Трубы круглые для трубопроводов */
	color: #ff00ff;	  /* Цвет текста */
	background-color: #ff00ff25;
	font-weight: bold;
}
td.hex { /* Болты гайки шайбы */
	color: #056e1b;   /* Цвет текста */
	background-color: #056e1b25;
	font-weight: bold;
}
td.weld { /* Сварка */
	color: #ec0000;   /* Цвет текста */
	background-color: #ec000025;
	font-weight: bold;
}
	/* table class  wdt */
table.wdt {	/* wdt == width 880 */
	width: 880px;
}
	/* table class  fix */
table.fix {
	table-layout: fixed;
	text-align: center;
}

	/* table ID  flangeInfo */
table#flangeInfo { /* F L A N G E */
	width: 880px;  /* !!!!!!!!!  CONTEXT'S WIDTH in BODY == 880px  !!!!!!!!! */
	table-layout: fixed;
}
#flangeInfo td {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	border: 2px solid green;
}
	/*  end  T A B L E S   */


ul {	/* ul - Неупорядоченный список (маркеры а не цифры); ol - упорядоченный (цифры); li - элемент списка */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
li {	/* li - элемент списка */
    margin: 0em 0em 0em 0em;	/* top right bottom left */
	padding: 0em 0em 0em 0em;
}
.sign {	 /* li - элемент списка с рисунком diamond */
    list-style-image: url("../images/diamond_aGIF_16.gif");
}
.sign1 { /* li - элемент списка с рисунком pencil */
    list-style-image: url("../images/pencil_16.png");
}
.sign2 { /* li - элемент списка с рисунком smile */
    list-style-image: url("../images/smile.gif");
}

ul.tblCont {	/* ul - Неупорядоченный список (маркеры а не цифры); ol - упорядоченный (цифры); li - элемент списка */
	font-size: 1.3em;  /* Размер шрифта */
}
.tblCont li {	/* li - элемент списка */
    padding-top: 4px;
    padding-bottom: 4px;
}

.tblCont li > a {	/* li - элемент списка */
    padding-top: 4px;
    padding-bottom: 4px;
}
.tblCont li > ul {	/* li - элемент списка */
    padding-top: 4px;
}

iframe {				/* Окно для вывода файла */
	border: 0px;
}

a.big1 {				/* Спец ссылка большого размера шрифта */
	display: block;
	padding: 10px 0px 10px 50px; /* top right bottom left */
	font-weight: bold;
	font-size: 1.5em;  /* Размер шрифта */
}
